.brand-border-radius-top-8 {
  border-radius: 8px 8px 0px 0px !important;
}

.brand-border-radius-top-left-16 {
  border-radius: 16px 0 0 0px !important;
}

.brand-border-radius-0 {
  border-radius: 0px !important;
}

.brand-border-radius-4 {
  border-radius: 4px !important;
}

.brand-border-radius-6 {
  border-radius: 6px !important;
}

.brand-border-radius-8 {
  border-radius: 8px !important;
}

.brand-border-radius-10 {
  border-radius: 10px !important;
}

.brand-border-radius-12 {
  border-radius: 12px !important;
}

.brand-border-radius-14 {
  border-radius: 14px !important;
}

.brand-border-radius-16 {
  border-radius: 16px !important;
}

.brand-border-radius-18 {
  border-radius: 18px !important;
}

.brand-border-radius-20 {
  border-radius: 20px !important;
}

.brand-border-radius-22 {
  border-radius: 22px !important;
}

.brand-border-radius-24 {
  border-radius: 24px !important;
}

.brand-border-radius-26 {
  border-radius: 26px !important;
}

.brand-border-radius-28 {
  border-radius: 28px !important;
}

.brand-border-radius-30 {
  border-radius: 30px !important;
}

.brand-border-radius-32 {
  border-radius: 32px !important;
}

.brand-border-radius-34 {
  border-radius: 34px !important;
}

.brand-border-radius-36 {
  border-radius: 36px !important;
}

.brand-border-radius-38 {
  border-radius: 38px !important;
}

.brand-border-radius-40 {
  border-radius: 40px !important;
}

.brand-border-radius-42 {
  border-radius: 42px !important;
}

.brand-border-radius-44 {
  border-radius: 44px !important;
}

.brand-border-radius-46 {
  border-radius: 46px !important;
}

.brand-border-radius-48 {
  border-radius: 48px !important;
}

.brand-border-radius-50 {
  border-radius: 50px !important;
}

.brand-border-radius-52 {
  border-radius: 52px !important;
}

.brand-border-radius-54 {
  border-radius: 54px !important;
}

.brand-border-radius-56 {
  border-radius: 56px !important;
}

.brand-border-radius-58 {
  border-radius: 58px !important;
}

.brand-border-radius-60 {
  border-radius: 60px !important;
}

.brand-border-radius-62 {
  border-radius: 62px !important;
}

.brand-border-radius-64 {
  border-radius: 64px !important;
}

.brand-border-radius-top-8 {
  border-radius: 8px 8px 0px 0px !important;
}

.brand-border-radius-top-16 {
  border-radius: 16px 16px 0px 0px !important;
}

.brand-border-radius-bottom-16 {
  border-radius: 0px 0px 16px 16px !important;
}

.brand-border-radius-bottom-8 {
  border-radius: 0px 0px 8px 8px !important;
}

.brand-border-radius-9999 {
  border-radius: 9999px !important;
}
