.brand-bg-default {
  background-color: $color-gray-100;
}

.brand-bg-secondary {
  background-color: $secondary;
}

.brand-bg-dark {
  background-color: $dark;
}

.brand-bg-disabled {
  background-color: $color-gray-200;
}

.brand-bg-primary {
  background-color: $primary !important;
}

.brand-bg-primary-light {
  background-color: $primary-light !important;
}

.brand-bg-error-light {
  background-color: $negative-light !important;
}

.brand-bg-warning-light {
  background-color: $warning-light;
}

.brand-bg-info-light {
  background-color: $info-light;
}

.brand-bg-success-light {
  background-color: $positive-light;
}

.brand-bg-error {
  background-color: $negative;
}

.brand-bg-info {
  background-color: $info;
}

.brand-bg-success {
  background-color: $positive;
}

.brand-bg-warning {
  background-color: $warning;
}

.brand-bg-gray-100 {
  background-color: $color-gray-100 !important;
}

.brand-bg-gray-200 {
  background-color: $color-gray-200 !important;
}

.brand-bg-gray-300 {
  background-color: $color-gray-300 !important;
}

.brand-bg-gray-400 {
  background-color: $color-gray-400 !important;
}

.brand-bg-gray {
  background-color: $color-gray-500 !important;
}

.brand-bg-gray-600 {
  background-color: $color-gray-600 !important;
}

.brand-bg-gray-700 {
  background-color: $color-gray-700 !important;
}

.brand-bg-gray-800 {
  background-color: $color-gray-800 !important;
}

.brand-bg-gray-900 {
  background-color: $color-gray-900 !important;
}

.brand-bg-light {
  background-color: $light !important;
}

.brand-bg-dark {
  background-color: $light !important;
}



.brand-text-default {
  color: $color-gray-900 !important;
}

.brand-text-disabled {
  color: $color-gray-400 !important;
}

.brand-text-primary {
  color: $primary !important;
}

.brand-text-secondary {
  color: $color-gray-600 !important;
}

.brand-text-error {
  color: $negative !important;
}

.brand-text-warning {
  color: $warning !important;
}

.brand-text-success {
  color: $positive !important;
}

.brand-text-info {
  color: $info !important;
}

.brand-text-light {
  color: $light !important;
}

.brand-text-dark {
  color: $dark !important;
}

.brand-text-red {
  color: $negative !important;
}

.brand-text-green {
  color: $positive !important;
}

.brand-text-blue {
  color: $info !important;
}

.brand-text-yellow {
  color: $warning !important;
}

.brand-text-gray-100 {
  color: $color-gray-100 !important;
}

.brand-text-gray-200 {
  color: $color-gray-200 !important;
}

.brand-text-gray-300 {
  color: $color-gray-300 !important;
}

.brand-text-gray-400 {
  color: $color-gray-400 !important;
}

.brand-text-gray-500 {
  color: $color-gray-500 !important;
}

.brand-text-gray-600 {
  color: $color-gray-600 !important;
}

.brand-text-gray-700 {
  color: $color-gray-700 !important;
}

.brand-text-gray-800 {
  color: $color-gray-800 !important;
}

.brand-text-gray-900 {
  color: $color-gray-900 !important;
}
