// Cores primárias
$primary : #181818;
$secondary : #5C5CFF;
$accent : #E72B4B;
$accent-lighter: #FDF0F2;

// Cores de feedback
$positive  : #227c43;
$negative  : #d64646;
$info      : #487cd1;
$warning   : #e6ac1c;

// Cores de texto
$dark      : #1D1D1D;
$light     :#f3f3f3;