//padding

.brand-pa-10 {
  padding: 10px;
}

.brand-pa-12 {
  padding: 12px;
}

.brand-pa-16 {
  padding: 16px;
}

.brand-pa-20 {
  padding: 20px;
}

.brand-pa-32 {
  padding: 32px;
}

.brand-pt-none {
  padding-top: 0 !important;
}

.brand-pt-12 {
  padding-top: 12px;
}

.brand-pt-32 {
  padding-top: 32px;
}

.brand-pt-45 {
  padding-top: 45px;
}

.brand-pt-80 {
  padding-top: 80px;
}

.brand-pb-18 {
  padding-bottom: 18px;
}

.brand-py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.brand-py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.brand-py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.brand-py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.brand-py-26 {
  padding-top: 26px;
  padding-bottom: 26px;
}

.brand-pa-32 {
  padding: 32px;
}

.brand-px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.brand-px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.brand-px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.brand-px-23 {
  padding-left: 23px;
  padding-right: 23px;
}

.brand-px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.brand-pl-12 {
  padding-left: 12px;
}

.brand-pl-26 {
  padding-left: 26px;
}


//margin

.brand-mt-12 {
  margin-top: 12px;
}
.brand-mt-19 {
  margin-top: 19px;
}

.brand-mt-22 {
  margin-top: 22px;
}

.brand-mt-31 {
  margin-top: 31px;
}

.brand-mt-32 {
  margin-top: 32px;
}

.brand-mt-54 {
  margin-top: 54px;
}

.brand-mb-32 {
  margin-bottom: 32px;
}

.brand-mb-36 {
  margin-bottom: 36px;
}

.brand-mb-44 {
  margin-bottom: 44px;
}

.brand-my-18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.brand-mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.brand-mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.brand-mx-54 {
  margin-left: 54px;
  margin-right: 54px;
}

.brand-mt-144 {
  margin-top: 144px;
}


//gap

.brand-gap-3 {
  gap: 3px;
}

.brand-gap-4 {
  gap: 4px;
}

.brand-gap-8 {
  gap: 8px;
}

.brand-gap-10 {
  gap: 10px;
}

.brand-gap-12 {
  gap: 12px;
}

.brand-gap-16 {
  gap: 16px;
}

.brand-gap-18 {
  gap: 18px;
}

.brand-gap-20 {
  gap: 20px;
}

.brand-gap-24 {
  gap: 24px;
}

.brand-gap-28 {
  gap: 28px;
}

.brand-gap-31 {
  gap: 31px;
}

.brand-gap-32 {
  gap: 32px;
}

.brand-gap-34 {
  gap: 34px;
}

.brand-gap-36 {
  gap: 36px;
}

.brand-gap-40 {
  gap: 40px;
}

.brand-gap-44 {
  gap: 44px;
}

.brand-gap-46 {
  gap: 46px;
}

.brand-gap-48 {
  gap: 48px;
}

.brand-gap-144 {
  gap: 144px;
}

//letter space

.brand-letter-spacing-07 {
  letter-spacing: 0.7px;
}
.brand-letter-spacing-05 {
  letter-spacing: 0.5px;
}
.brand-letter-spacing-1 {
  letter-spacing: 1px;
}
