.brand-text-default {
  @extend .brand-text-dark
}

.brand-text-disabled {
  color: $disabled !important;
}

.brand-text-primary {
  color: $primary !important;
}

.brand-text-secondary {
  color: $color-gray-600 !important;
}

.brand-text-error {
  color: $negative !important;
}

.brand-text-warning {
  color: $warning !important;
}

.brand-text-success {
  color: $positive !important;
}

.brand-text-info {
  color: $info !important;
}

.brand-text-light {
  color: $light !important;
}

.brand-text-dark {
  color: $dark !important;
}

//Font size

.brand-font-size-10 {
  font-size: 10px;
}

.brand-font-size-12 {
  font-size: 12px;
}

.brand-font-size-13 {
  font-size: 13px;
}

.brand-font-size-14 {
  font-size: 14px !important;
}

.brand-font-size-16 {
  font-size: 16px;
}

.brand-font-size-18 {
  font-size: 18px;
}

.brand-font-size-20 {
  font-size: 20px;
}

.brand-font-size-22 {
  font-size: 22px;
}

.brand-font-size-24 {
  font-size: 24px;
}

.brand-font-size-26 {
  font-size: 26px;
}

.brand-font-size-28 {
  font-size: 28px;
}

.brand-font-size-30 {
  font-size: 30px;
}

.brand-font-size-32 {
  font-size: 32px;
}

.brand-font-size-34 {
  font-size: 34px;
}

.brand-font-size-36 {
  font-size: 36px;
}

.brand-font-size-38 {
  font-size: 38px;
}

.brand-font-size-40 {
  font-size: 40px;
}

.brand-font-size-42 {
  font-size: 42px;
}

.brand-font-size-44 {
  font-size: 44px;
}

.brand-font-size-46 {
  font-size: 46px;
}

.brand-font-size-48 {
  font-size: 48px;
}

.brand-font-size-50 {
  font-size: 50px;
}

.brand-font-size-52 {
  font-size: 52px;
}

.brand-font-size-54 {
  font-size: 54px;
}

.brand-font-size-56 {
  font-size: 56px;
}

.brand-font-size-58 {
  font-size: 58px;
}

.brand-font-size-60 {
  font-size: 60px;
}

.brand-font-size-62 {
  font-size: 62px;
}

.brand-font-size-64 {
  font-size: 64px;
}
